html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

.hero {
	background-color: #eec0c6;
	background-image: linear-gradient(315deg, #eec0c6 0%, #e58c8a 74%);
	width: 100%;
}

.hero-areca {
	background-image: url('areca.png');
	background-repeat: no-repeat;
	background-position: 1030px;
	padding: 70px; 
} 

.hero-cta {
	color: #fff;
	font-family: 'Lato', sans-serif;
	text-align: center;
}

.flyer {
	background: #fff;
	-webkit-box-shadow: 10px 10px 41px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 10px 10px 41px 0px rgba(0,0,0,0.2);
	box-shadow: 10px 10px 41px 0px rgba(0,0,0,0.2);
	height: 80%;
	margin: 0px auto 50px;
	padding: 50px 35px;
	position: relative;
	width: 520px;
}

.flyer-eyebrow {
	left: 0;
	position: absolute;
	top: 35px;
}

.flyer-eyebrow-line {
	border-bottom: 1px solid #e58b89;
	display: inline-block;
	width: 32px;
}

.flyer-eyebrow-text {
	color: #e58b89;
	font-family: 'Lato', sans-serif;
	display: inline-block;	
}

.flyer-title {
	font-family: 'Playfair Display', serif;
	font-size: 74px;
	letter-spacing: 1px;	
	margin-top: 35px;
}

.flyer-text-wrap {
	margin: 50px;
}

.flyer-text {
	color: #535353;
	font-family: 'Playfair Display', serif;
	font-size: 26px;
	line-height: 1.6;
	margin: 0 0 10px;	
}

.flyer-list {
	list-style: none;
	padding: 0;
}

.flyer-yes {
	color: #e58b89;
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	font-style: italic;
}

.flyer-sub {
	background: #f3c7c6;
	display: inline;
	font-size: 26px;
	font-weight: 400;
    padding: 0 8px;
    
}

.instructions {
	background: #fff;
	font-family: 'Lato', sans-serif;
	margin: 80px auto;
	width: 60%;

}

.instructions-title {
	
}

.instructions-list {
	line-height: 1.6;
	padding: 20px; 
}

.instructions-list-item {
	font-weight: 700;
	margin-bottom: 10px;
}

.instructions-list-more {
	color: #535353;
}

.footer {
	background-color: #eec0c6;
	background-image: linear-gradient(315deg, #eec0c6 0%, #e58c8a 74%);
	font-family: 'Lato', sans-serif;
	padding: 70px 0 150px; 
	width: 100%;
}

.footer-content {
	margin: 0 auto;
	text-align: center; 
	width: 90%;
}

.footer-text {
	color: #fff;
	font-size: 20px;
	font-weight: 700;
	line-height: 1.4;
	margin-bottom: 0;
}

.footer-cta {
	color: #fff;
	border: 1px solid #fff;
	border-radius: 50px;
	display: inline-block;
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	font-weight: 700;
	margin: 24px auto;
	padding: 10px 30px;
	text-decoration: none; 
}

.footer-cta:hover {
	background: rgba(255, 255, 255, .4);
	color: #e58b89; 
}

/* Utilities */
.bold {
	font-weight: 700;
}

.gray { 
	color: #bbbbbb;
}


@media only screen and (max-width: 600px) {

	.hero-areca {
		background-position: 0;
		padding: 30px 0;
	}

	.hero-cta {
		font-size: 18px;
		margin-top: 30px;
	}

	.flyer {
		margin: 0 auto;
		width: 90%;
	}

	.flyer-title {
		font-size: 42px;
		margin-bottom: 35px;
	}

	.flyer-text-wrap {
		margin: 0px;
	}

	.flyer-sub { 
		background: #f3c7c6;
		font-size: 18px;
		display: inline;
    	padding: 0 8px;
	}

	.flyer-text {
		font-size: 20px;
	}

	.flyer-yes {
		font-size: 16px;
	}

	.instructions {
		margin-top: 40px;
		margin-bottom: 40px;
		width: 80%;
	}

	.footer {
		padding: 30px 30px 70px;
	}

}


